## Running SQL in Pandas

In [1]:
!pip install pandasql
import pandas as pd

Requirement already satisfied: pandasql in c:\users\sahil choudhary\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied: sqlalchemy in c:\users\sahil choudhary\anaconda3\lib\site-packages (from pandasql) (1.4.7)
Requirement already satisfied: pandas in c:\users\sahil choudhary\anaconda3\lib\site-packages (from pandasql) (1.2.4)
Requirement already satisfied: numpy in c:\users\sahil choudhary\anaconda3\lib\site-packages (from pandasql) (1.22.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\sahil choudhary\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\sahil choudhary\anaconda3\lib\site-packages (from pandas->pandasql) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\sahil choudhary\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sahil choudhary\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.0.0)

In [10]:
from pandasql import sqldf
pdsql = lambda q: sqldf(q, globals())

# Just write the sql query in the arguments of this pdsql object

- Pandasql allows you to query pandas DataFrames using SQL syntax
- Useful for cleaning and filtering

In [3]:
df = pd.DataFrame({'num_legs': [2, 4, 8, 0],
                   'num_wings': [2, 0, 0, 0],
                   'num_specimen_seen': [10, 2, 1, 8]})
df

   num_legs  num_wings  num_specimen_seen
0         2          2                 10
1         4          0                  2
2         8          0                  1
3         0          0                  8

In [11]:
df1=pdsql("SELECT * FROM df where num_legs>4")

In [12]:
df1

   num_legs  num_wings  num_specimen_seen
0         8          0                  1