## SQL vs Pandas

In [1]:
SELECT 
sum(total_bill),
avg(size),
min(tip),
FROM 
  tips 
where tip>5
Group by sex,day
Order by total_bill desc,tip asc

IndentationError: unexpected indent (<ipython-input-1-23a26eb40e98>, line 6)