## List Creation

In [1]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

### From range function

In [2]:
[i for i in range(4)]

[0, 1, 2, 3]

### From dict

In [3]:
dict1={
    'A':1,
    'B':2,
    'C':3
}
dict1

{'A': 1, 'B': 2, 'C': 3}

### From keys

In [4]:
[i for i,j in dict1.items()]

['A', 'B', 'C']

### From values

In [5]:
[j for i,j in dict1.items()]

[1, 2, 3]

### From dataframe

In [6]:
import pandas as pd
df = {'Name': ['Sahil', 'Sonia', 'Sourav', 'Deepak'], 'Age': [20, 21, 19, 18]}
pd.DataFrame(df)

     Name  Age
0   Sahil   20
1   Sonia   21
2  Sourav   19
3  Deepak   18

In [7]:
[ i for i in df['Name']]

['Sahil', 'Sonia', 'Sourav', 'Deepak']