## Renaming Columns

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame({
'Name':['Sahil','Sonia','Sourav','Vishal'],
'Age':[10,20,30,40],
'Gender':['M','F','M','M'],
'City':['J','K','L','P'],
'Work':[True,False,False,True]
}
)
df

     Name  Age Gender City   Work
0   Sahil   10      M    J   True
1   Sonia   20      F    K  False
2  Sourav   30      M    L  False
3  Vishal   40      M    P   True

### Use df.rename function and pass dict of oldname:newname

In [3]:
df.rename({
'Name':'First Name',
'City':'Place'
},axis=1,inplace=True)  # Note:you can pass axis=columns too
# 0=rows
# 1=columns

In [4]:
df

  First Name  Age Gender Place   Work
0      Sahil   10      M     J   True
1      Sonia   20      F     K  False
2     Sourav   30      M     L  False
3     Vishal   40      M     P   True